NUXT_SESSION_PASSWORD=8509b4821beb4ff1a5f704e443d16bc3
NUXT_OAUTH_KEYCLOAK_CLIENT_SECRET=uwDu0mShTZm80MyIkWz1yZJs9UNYlkIi
NUXT_OAUTH_KEYCLOAK_CLIENT_ID=blackjack-web-app
NUXT_MONGOOSE_URI=mongodb://root:secretpassword@localhost:27017/
NUXT_OAUTH_KEYCLOAK_REDIRECT_URL=http://localhost:3000/auth/keycloak
NUXT_OAUTH_KEYCLOAK_SERVER_URL=http://localhost:8080
NUXT_OAUTH_KEYCLOAK_REALM=blackjack